# Node.js
node_modules/

.env
dist/
logs/
*.log
npm-debug.log*

# React
frontend/build
frontend/node_modules

# VSCode
.vscode/

# MongoDB local
data/db

# Otros
*.local
*.cache

# frontend
frontend/.env
/frontend/node_modules
/frontend/.next/
/frontend/dist/

# backend
/backend/.env
/backend/logs/
/backend/node_modules
/backend/logs/
/backend/tmp/